.num {
    width: 5em;
}

.pagination  {
    text-align: center;
}

.pagination li{
    display: inline-block;
}

table {
    border-style: solid;
    table-layout: fixed;
}

th {
    text-align: center;
    border-style: groove;
}

td {
    text-align: center;
    width: 80;
    border-style: groove;
}

#dispnum {
    width: 3em;
}

